.margen {
	margin: 50px;
}

#banner {
	background-color: rgb(14, 1, 61);
	padding: 20px;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#banner a {
	color: white;
	padding-right: 50px;
	text-decoration: none;
}

#item {
	margin-left: 50px;
	flex-grow: 10;
}

#social {
	object-fit: cover;
	height: 30px;
	width: 60px;
	border-radius: 5px;
	justify-content: space-evenly;
	padding:2px;
}

#central {
	height: 500px;
	width: 700px;
}

#horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#central {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

#options {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#help {
	color: gray;
}

#menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#pair {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#basic-addon3 {
	border-radius: 5px;
}

#url {
	padding-top: 15px;
}

#carousel {
	display: flex;
	flex-direction: row;
}

#card {
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 300px;
	align-items: center;
}

#details {
	align-items: center;
}

#cardDetail {
	font-size: 10px;
}

#avatar {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	object-fit: cover;
	margin-right: 20px;
	margin-left: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: flex;
  height: 100px;
  width: 100px;
  outline: black;
  background-image: none;
  justify-content: space-between;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
  padding-left: 50px;
  
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

#carousel {
	width: 80%;
	margin: 0 auto;
}